doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-app='cvApp')
		block content
		script(src='/jquery/dist/jquery.min.js')
		script(src='/angular/angular.min.js')
		script(src='/javascripts/angular/cvController.js')
